[submodule ".oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".oh-my-zsh-custom/plugins/zsh-completions"]
	path = .oh-my-zsh-custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh-custom/plugins/fzf-tab"]
	path = .oh-my-zsh-custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".oh-my-zsh-custom/plugins/fast-syntax-highlighting"]
	path = .oh-my-zsh-custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
