[general]
compat-delete='delete-sequence'
copy-on-select=true
display-n=0
display-tab-names=0
gtk-use-system-default-theme=true
hide-tabs-if-one-tab=false
history-size=1000
lazy-losefocus=false
load-guake-yml=true
max-tab-name-length=100
mouse-display=true
open-tab-cwd=true
prompt-on-quit=true
quick-open-command-line='gedit %(file_path)s'
restore-tabs-notify=true
restore-tabs-startup=true
save-tabs-when-changed=true
scroll-keystroke=true
start-at-login=true
use-default-font=true
use-popup=true
use-scrollbar=true
use-trayicon=true
window-halignment=2
window-height=100
window-losefocus=false
window-ontop=false
window-refocus=true
window-tabbar=true
window-width=50

[style/background]
transparency=100

[style/font]
allow-bold=true
palette='#000000000000:#FFFF55555555:#5050FAFA7B7B:#F1F1FAFA8C8C:#BDBD9393F9F9:#FFFF7979C6C6:#8B8BE9E9FDFD:#BBBBBBBBBBBB:#555555555555:#FFFF55555555:#5050FAFA7B7B:#F1F1FAFA8C8C:#BDBD9393F9F9:#FFFF7979C6C6:#8B8BE9E9FDFD:#FFFFFFFFFFFF:#F8F8F8F8F2F2:#1E1E1F1F2828'
palette-name='Dracula'
